/* CSS RESET */

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* REUSABLE COMPONENTS */
/* reusable displays */
.d-block {
  display: block;
}

/* reusable form styles */
.form-control {
  display: block;
  width: 100%;
  padding: 0.5em;
  border: 1px solid #777;
}

.form-group {
  padding: 0.5rem;
}

.form-label {
  margin-bottom: 0.5rem;
}

.form-control-small {
  min-height: 15px;
  font-size: 1rem;
}

.form-control-medium {
  min-height: 18.5px;
  font-size: 1.2rem;
}

.form-control-large {
  min-height: 22px;
  font-size: 1.4rem;
}

/* reusable font sizes */
.fn-small {
  font-size: 1.15rem;
}

.fn-medium {
  font-size: 1.4rem;
}

.fn-large {
  font-size: 1.65rem;
}
